@charset "UTF-8";
/* CSS Document */

table {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  background: #E6E6E6;
}
table tr:hover {
  background: #CCC;
}
table tr:hover td {
  color: #555;
}
table th, table td {
  color: #000;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
table th {
	background: #00cccc;
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
}
table th.last {
  border-right: none;
}.table {
}

body {
	background-image: url(/img/backgroundstats.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
}
